@media (max-width: $breakpoint-tablet) {
    
    .nav {
        padding: $spacing-md $spacing-3xl 0px $spacing-3xl;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        padding: $spacing-xl $spacing-sm;
    
        &__wrapper {
            display: flex;
            flex-direction: column;
        }
    
        &__title {
            @include font-tablet-text-preset-1;
        }
    
        &__description {
            @include font-tablet-text-preset-4;
        }
    
        &__image {
        position: relative;
        

            &--left,
            &--right {
                display: none;
            }

    
            &--tablet {
                margin: 0;
                display: block;
                width: 107vw;
                max-width: none;
                margin-bottom: $spacing-2xl;
            }
        }
    }
    
    .main-content {
        padding: $spacing-lg $spacing-sm $spacing-xl $spacing-sm;
    
        &__image-collage {
            gap: $spacing-xs;
        }

        &__text-content {
            max-width: 504px;
        }
    
        &__subtitle {
            @include font-tablet-text-preset-3;
        }
    
        &__title {
            @include font-tablet-text-preset-2;
        }
    
        &__description {
            @include font-tablet-text-preset-4;
        }
    }
    
    
    .footer {

        &__hero {
            flex-direction: column;
            background-image: linear-gradient(to bottom, rgba(75, 189, 218, 0.85), rgba(35, 137, 163, 0.85)), url("../assets/tablet/image-footer.jpg");
            margin-bottom: 0;
        }
    
        &__text-content {
            flex-direction: column;
            text-align: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            min-height: 192px;
            padding: $spacing-xl $spacing-sm;
        }

        &__title {
            @include font-tablet-text-preset-2;
            margin-bottom: $spacing-xs;
        }
    
        &__description {
            @include font-tablet-text-preset-4;
            margin-right: 0px;
            margin-bottom: $spacing-xs;
            width: 100%;
            max-width: 504px;
        }
    }
}

@media (max-width: $breakpoint-mobile) {
    
    .hero {
        padding: $spacing-xl $spacing-sm $spacing-sm $spacing-sm;
        flex-direction: column;

        &__text-content {
            width: 305px;
        }
    
        &__title {
            @include font-mobile-text-preset-1;
        }
    
        &__description {
            @include font-tablet-text-preset-4;
            margin-top: $spacing-xs;
            margin-bottom: $spacing-xs;
        }
    
        &__image {

            &--tablet {
                margin-bottom: $spacing-md;
            }
        }
        &__buttons {
            display: flex;
            flex-direction: column;
        }
    }

    .button {
        &--blue {
            margin-right: 0;
            margin-bottom: $spacing-xxs;
        }

        &--purple {
            width: 161px;
        }
    }
    
    .main-content {
        padding: $spacing-sm $spacing-sm $spacing-md $spacing-sm;
    
        &__image-collage {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: $spacing-xxs
        }

        &__text-content {
            width: 311px;
        }
    
        &__subtitle {
            @include font-mobile-text-preset-3;
        }
    
        &__title {
            @include font-mobile-text-preset-2;
        }
    
        &__description {
            @include font-tablet-text-preset-4;
        }
    }
    
    
    .footer {

        &__hero {
            min-height: 374px;
            background-image: linear-gradient(to bottom, rgba(75, 189, 218, 0.85), rgba(35, 137, 163, 0.85)), url("../assets/mobile/image-footer.jpg");
        }
    
        &__text-content {
            max-width: 311px;
            min-height: 246px;
        }

        &__title {
            @include font-mobile-text-preset-2;
            min-width: 311px;
        }
    
        &__description {
            @include font-tablet-text-preset-4;
            min-width: 311px;
        }
    }
}